<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="twitter:title" content="Small Artifacts Lab@UMD">
   <meta name="twitter:description" content="We advance interactive technologies by designing, prototyping, and evaluating novel artifacts that are personal, hands-on, and often small when it comes to the form factors.">
   <meta name="twitter:image" content="https://smartlab.cs.umd.edu/assets/images/smartlogofinal.png">
   {%- seo -%}
   <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
   {%- feed_meta -%}
   <script src="{{ "/assets/javascript/bootstrap/jquery.min.js" | relative_url }}"></script>
   <script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
</script>
</head>
